<!---------- listes des demandes ------------>

<div class="card mt-3">
  <div class="card-header">
    <h2>Liste des demandes</h2>
  </div>
  <div class="card-body">
    <button type="button" class="btn btn-success btn-sm">Nouvelle demande</button>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Agent</th>
          <th scope="col">Motif demande</th>
          <th scope="col">Date d&eacute;but</th>
          <th scope="col">Date fin</th>
          <th scope="col">&Eacute;tat</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let demande of demandes">
          <th scope="row">{{ demande.id }}</th>
          <td>{{ demande.agent?.matricule + " " + demande.agent?.nom + " " + demande.agent?.prenom}}</td>
          <td>{{ demande.motif }}</td>
          <td>{{ demande.dateDebut }}</td>
          <td>{{ demande.dateFin }}</td>
          <td>{{ demande.etat }}</td>
          <td>
            <button class="btn btn-info btn-sm me-2">D&eacute;tail</button>
            <button class="btn btn-warning btn-sm me-2">Modifi&eacute;</button>
            <button class="btn btn-danger btn-sm me-2">Supprim&eacute;</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
